AirMonit_Project_2017_18/AitMonit_DU/Local_data/XMLParameterSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AirMonitParam" type="paramData"/>

  <xs:complexType name="paramData">
    <xs:sequence>
      <xs:element name="id" type="xs:decimal"/>
      <xs:element name="value" type="valueLimit"/>
      <xs:element name="date" type="xs:date"/>
      <xs:element name="time" type="xs:time"/>
      <xs:element name="city" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="param" type="params" use="required" />
  </xs:complexType>

  <xs:simpleType name="valueLimit">
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="0"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="dateFormat">
    <xs:restriction base="xs:string">
      <!-- pattern like:  dd-mmm-YYYY, dd/mmm/YYYY, dd.mmm.YYYY-->
      <xs:pattern value="^(?:(?:31(\/|-|\.)(?:0?[13578]|1[02]|(?:Jan|Mar|May|Jul|Aug|Oct|Dec)))\1|(?:(?:29|30)(\/|-|\.)(?:0?[1,3-9]|1[0-2]|(?:Jan|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec))\2))(?:(?:1[6-9]|[2-9]\d)?\d{2})$|^(?:29(\/|-|\.)(?:0?2|(?:Feb))\3(?:(?:(?:1[6-9]|[2-9]\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00))))$|^(?:0?[1-9]|1\d|2[0-8])(\/|-|\.)(?:(?:0?[1-9]|(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep))|(?:1[0-2]|(?:Oct|Nov|Dec)))\4(?:(?:1[6-9]|[2-9]\d)?\d{2})$"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="params">
    <xs:restriction base="xs:string">
      <xs:enumeration value="O3"/>
      <xs:enumeration value="NO2"/>
      <xs:enumeration value="CO"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
