AirMonit_Project_2017_18/AirMonit_Alarm/Local_data/XMLParameterSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AirMonitParam" type="paramData"/>

  <xs:complexType name="paramData">
    <xs:sequence>
      <xs:element name="id" type="xs:decimal"/>
      <xs:element name="value" type="valueLimit"/>
      <xs:element name="date" type="dateFormat"/>
      <xs:element name="time" type="xs:time"/>
      <xs:element name="city" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="param" type="params" use="required" />
  </xs:complexType>

  <xs:simpleType name="valueLimit">
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="0"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="dateFormat">
    <xs:restriction base="xs:string">
      <xs:pattern value="(0[1-9]|1[012])[- /.](0[1-9]|[12][0-9]|3[01])[- /.](19|20)\d\d"/>
    </xs:restriction>
  </xs:simpleType>


  <xs:simpleType name="params">
    <xs:restriction base="xs:string">
      <xs:enumeration value="O3"/>
      <xs:enumeration value="NO2"/>
      <xs:enumeration value="CO"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
